* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    }
    body {
        font-family: 'poppins';
    
    }
    header{
        height: 100vh;
        width: 100vw;
        background-image: url("./image/photo_accueil_2.jpg");
        background-size: cover;
    }
    .navbar {
        position: absolute ;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
    
    }
    .navbar a {
        color: white;
    }
    .navbar .logo {
        font-size: 2rem;
        font-weight: bold;
    }
    .navbar .navlinks ul {
        display: flex;
    }
    .navbar .navlinks ul li {
        margin: 0 25px;
    }
    .navbar .navlinks ul li.active a {
        color: white;
        font-weight: 700;
    }
    @media screen and (max-width: 700px) {
        .navbar {
            padding: 0px;
        }
        .navlinks{
        top: 0;
        left: 0;
        position: absolute;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navlinks ul {
        display: flex;
        flex-direction: column;
    } 
}
/* .grandmoonstre {
    display: flex;
    flex-direction: column;
}

.petitmoonstre {
    display: flex;
    flex-direction: column;
} */
