* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    } /* faire un RESET pour une bonne configuration de la page*/
    html{
        background: url(image/photo_accueil_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} /* adapter le background image pour qu'il soit responsive*/
    body {
        font-family: 'Poppins',sans-serif;
        background-color: beige;
    } /*configuration type ecriture du text */
    .navbar {
        position: absolute ;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        background: #222;
    
    } /* configuration STYLE de la barre de navigation*/
    .navbar .navlinks ul li a {
        color: white;
        transition: all 0.3s ease 0s;
    } /*mettre un hover du couleur greenyellow sur les liens */
    .navbar .navlinks ul li a:hover {
        color: greenyellow;
    }
    .Gr_monstre {
        position: absolute;
        font-size: 1em;
        color: rgba(255, 255, 255, 0.923);
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        display: flex;
        top : 290px;
        left:800px;
    }/* configuration STYLE de la balise H1 Grand Monstre*/
    .Pe_monstre {
        position: absolute;
        font-size: 1em;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        display: flex;
        top : 290px;
        left: 230px;
    } /* configuration STYLE de la balise H1 Petit Monstre*/
    .grand_monstre_nom{
        position: absolute;
        font-size: 1em;
        color: rgb(19, 239, 251);
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        top : 370px;
        left: 650px;
    }/* configuration STYLE des noms de grands monstre de l'API*/
    .petit_monstre_nom{
        position: absolute;
        color: rgb(253, 90, 2);
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        top : 370px;
        left: 115px;
    }/* configuration STYLE des noms de petits monstre de l'API*/
    .petit_monstre_type {
        position: absolute;
        font-size: 1em;
        color: rgb(28, 238, 45);
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        display: flex;
        flex-direction: column;
        top : 370px;
        left: 220px;
    }/* configuration STYLE des types de petits monstre de l'API*/
    .grand_monstre_type {
        position: absolute;
        font-size: 1em;
        color: rgb(22, 245, 1);;
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        top : 370px;
        left : 800px;
    }/* configuration STYLE des types de grands monstre de l'API*/
    .petit_monstre_espece {
        position: absolute;
        font-size: 1em;
        color: rgb(208, 214, 8);
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        display: flex;
        flex-direction: column;
        top : 370px;
        left: 300px;
    }/* configuration STYLE des especes de petits monstre de l'API*/
    .grand_monstre_espece{
        position: absolute;
        font-size: 1em;
        color: rgb(255, 255, 0);
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        top : 370px;
        left : 900px;
    }/* configuration STYLE des especes de grands monstre de l'API*/
    .petit_monstre_location {
        position: absolute;
        font-size: 1em;
        color: rgb(224, 35, 35);
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        display: flex;
        flex-direction: column;
        top : 370px;
        left: 450px;
    }/* configuration STYLE des locations de petits monstre de l'API*/
    .grand_monstre_location {
        position: absolute;
        font-size: 1em;
        color: rgb(1, 192, 245);
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        top : 370px;
        left : 1050px;
    }/* configuration STYLE des locations de grands monstre de l'API*/
    .nom_pmonstre{
        position: absolute;
        color: rgb(253, 90, 2);
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        font-size: 1em;
        display: flex;
        flex-direction: row;
        top : 340px;
        left: 115px;
    }/* configuration STYLE de reference nom pour petit monstre crée en JAVASCRIPT*/
    .type_pmonstre {
        position: absolute;
        color: rgb(28, 238, 45);
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        font-size: 1em;
        display: flex;
        flex-direction: row;
        top : 340px;
        left: 220px;
    }/* configuration STYLE de reference pour petit monstre type crée en JAVASCRIPT*/
    .espece_pmonstre{
        position: absolute;
        color: rgb(208, 214, 8);
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
        font-size: 1em;
        display: flex;
        flex-direction: row;
        top : 340px;
        left: 300px;
    }/* configuration STYLE de reference especes pour petit monstre crée en JAVASCRIPT*/
    .location_pmonstre {
        position: absolute;
        color: rgb(224, 35, 35);
        font-family: 'Poppins',sans-serif;
        font-size: 1em;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        top : 340px;
        left: 450px;
    }/* configuration STYLE de reference location pour petits monstre crée en JAVASCRIPT*/
    .nom_gmonstre {
        position: absolute;
        font-size: 1em;
        color: rgb(19, 239, 251);
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        top : 340px;
        left: 650px;

    }/* configuration STYLE de reference nom pour grands monstre crée en JAVASCRIPT*/
    .type_gmonstre {
        position: absolute;
        font-size: 1em;
        color: rgb(22, 245, 1);
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        top : 340px;
        left: 800px;
    }/* configuration STYLE de reference type pour grands monstre crée en JAVASCRIPT*/
    .espece_gmonstre {
        position: absolute;
        font-size: 1em;
        color: rgb(255, 255, 0);
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        top : 340px;
        left: 900px;

    }/* configuration STYLE de reference espece pour grands monstre crée en JAVASCRIPT*/
    .location_gmonstre {
        position: absolute;
        font-size: 1em;
        color: rgb(1, 192, 245);;
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        top : 340px;
        left: 1050px;
    }/* configuration STYLE de reference location pour grands monstre crée en JAVASCRIPT*/

    .navbar a {
        text-transform: uppercase;
        position: relative;
        z-index : 1;
    }/* configuration STYLE des liens HTML */
    .navbar .logo {
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }/* configuration STYLE dU LOGO HTML */
    .navbar .menuburger {
        display: none;
        position: absolute;
        right: 50px;
        top: 50px;
        width: 35px;
    }/* configuration EMPLACEMENT dU menu burger HTML */
    .navbar .navlinks ul {
        display: flex;
    }
    .navbar .navlinks ul li {
        margin: 0 25px;
    }
    .navbar .navlinks ul li.active a {
        /* color: white; */
        font-weight: 700;
    }
    @media screen and (max-width: 700px) {
        .Gr_monstre {
            position: absolute;
            font-size: 1em;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            display: flex;
            top : 690px;
            left: 230px;
        }/* Deplacer le nom grand monstre pour une page responsive */
        .nom_gmonstre {
            position: absolute;
            font-size: 1em;
            color: rgb(19, 239, 251);
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            top : 725px;
            left: 95px;
    
        }/* Deplacer la reference noms des grands monstre pour une page responsive */
        .grand_monstre_nom{
            position: absolute;
            font-size: 1em;
            color: rgb(19, 239, 251);
            font-weight: bold;
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            top : 760px;
            left: 95px;
        }/* Deplacer les données de l'API noms des grands monstre pour une page responsive */

        .type_gmonstre {
            position: absolute;
            font-size: 1em;
            color: rgb(22, 245, 1);
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            top : 725px;
            left: 220px;
        }/* Deplacer la reference Types des grands monstre pour une page responsive */
        .grand_monstre_type {
            position: absolute;
            font-size: 1em;
            color: rgb(22, 245, 1);;
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            top : 760px;
            left : 220px;
        }/* Deplacer les données de l'API Type des grands monstre pour une page responsive */
        .espece_gmonstre {
            position: absolute;
            font-size: 1em;
            color: rgb(255, 255, 0);
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            top : 725px;
            left: 300px;
    
        }/* Deplacer la reference espece des grands monstre pour une page responsive */
        .grand_monstre_espece{
            position: absolute;
            font-size: 1em;
            color: rgb(255, 255, 0);
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            top : 760px;
            left: 300px;
        }/* Deplacer les données de l'API espece des grands monstre pour une page responsive */
        .location_gmonstre {
            position: absolute;
            font-size: 1em;
            color: rgb(1, 192, 245);;
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            top : 725px;
            left: 450px;
        } /* Deplacer la reference location des grands monstre pour une page responsive */
        .grand_monstre_location {
            position: absolute;
            font-size: 1em;
            color: rgb(1, 192, 245);
            font-family: 'Poppins',sans-serif;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            top : 760px;
            left : 450px;
        }/* Deplacer les données de l'API location des grands monstre pour une page responsive */
        .navbar {
            padding: 0px;
        }/* configurer la taille de la barre de navigation en mode mobile*/
        .navbar .logo {
            position: absolute;
            top : 50px;
            left : 50px;
            color: black;
        }/* configurer style de logo en mode mobile*/
        .navlinks{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(255, 255, 255 , 0.20);
        backdrop-filter: blur(7px);
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }/* configurer style des liens (Acceui,Maps,Histoire,Liste-Armes) en mode mobile et mettre une transition et filtrer l'arrire plan*/
    .navlinks.mobile-menu{
        margin-left: 0;
    }/* activer la transition */
    .navbar a {
        color: black;
    }/* configurer style des liens */
    .navlinks ul {
        display: flex;
        flex-direction: column;
    } /* configurer les liens en colonne */
    .navbar .navlinks ul li.active a {
        color: black;
        font-size: 1.5rem;
    } /* configurer le STYLE des liens */
    .navbar .navlinks ul li a {
        transition: all 0.3s ease 0s;
    }/* configurer le Hover sur les liens avec greenyellow */
    .navbar .navlinks ul li a:hover {
        color: greenyellow;
    }
    .navbar .navlinks ul li {
        margin: 25px 0;
    }/* configurer l'emplacement des liens */
    .navbar .menuburger {
        display: block;
    }/* afficher les liens en bloc */
}
