* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    }
    body {
        font-family: 'poppins';
    
    }
    header{
        height: 100vh;
        width: 100vw;
        background-image: url("./image/photo_accueil_2.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .navbar {
        position: absolute ;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
    
    }
    .navbar a {
        color: white;
    }
    .navbar .logo {
        font-size: 2rem;
        font-weight: bold;
    }
    .navbar .menuburger {
        display: none;
        position: absolute;
        right: 50px;
        top: 50px;
        width: 35px;
    }
    .navbar .navlinks ul {
        display: flex;
    }
    .navbar .navlinks ul li {
        margin: 0 25px;
    }
    .navbar .navlinks ul li.active a {
        color: white;
        font-weight: 700;
    }
    @media screen and (max-width: 700px) {
        .navbar {
            padding: 0px;
        }
        .navlinks{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(255, 255, 255 , 0.20);
        backdrop-filter: blur(7px);
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .navlinks.mobile-menu{
        margin-left: 0;
    }
    .navbar a {
        color: black;
    }
    .navlinks ul {
        display: flex;
        flex-direction: column;
    } 
    .navbar .navlinks ul li.active a {
        color: black;
        font-size: 1.5rem;
    }
    .navbar .navlinks ul li {
        margin: 25px 0;
    }
    .navbar .menuburger {
        display: block;
    
    }
}
/* .grandmoonstre {
    display: flex;
    flex-direction: column;
}

.petitmoonstre {
    display: flex;
    flex-direction: column;
} */
